.tuna {
  animation: tunaWalk 1s steps(12) infinite;
  background: url(http://stash.rachelnabors.com/animation-workshop/sprite_catwalk.png)
    0 100% no-repeat;
  height: 200px;
  width: 400px;
  margin: 100px auto 0;
}

/* Don't forget: You'll need an @keyframes block to change the background image's position! */
/* We cant control users, can only control what they can see */
p {
  text-align: center;
}

@keyframes tunaWalk {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2400px;
  }
}

.tail {
  animation-name: tailWag;
  animation-timing-function: steps(5);
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}

.tail:hover {
  animation-play-state: running;
}
