/* .ball {
  border-radius: 50%;
  position: fixed;
  width: 20px;
  height: 20px;
  top: 30%;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#white {
  left: 50%;
  animation-timing-function: ease-in;
}

@keyframes bounce {
  0% {
    top: 0px;
    background-color: white;
  }

  40% {
    background-color: black;
  }

  50% {
    top: 85%;
    background-color: black;
  }
  90% {
    background-color: white;
  }
  100% {
    top: 0px;
    background-color: #white;
  }
} */

body {
  animation-name: bodyColorChange;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes bodyColorChange {
  0% {
    background-color: white;
  }
  20% {
    background-color: red;
  }
  50% {
    background-color: black;
  }
  55% {
    background-color: yellow;
  }
  95% {
    background-color: indianred;
  }

  100% {
    background-color: blue;
  }
}
