.ball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: fixed; /* ball with move with reference to this */
}
/* changing the */
@keyframes bounce {
  /* percentage of time */
  0% {
    top: 0px; /* top of parent */
    background-color: white;
  }
  40% {
    top: 50%; /* height of parent */
    background-color: black;
  }
  50% {
    top: 55%;
    background-color: black;
  }
  90% {
    top: 100%;
    background-color: #137e40;
  }
  100% {
    top: 0px;
    background-color: rgb(63, 63, 131);
  }
}

body {
  animation-name: bodyColorChange;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes bodyColorChange {
  0% {
    /* percentage of time */
    background-color: white;
  }
  20% {
    background-color: red;
  }
  50% {
    background-color: black;
  }
  55% {
    background-color: yellow;
  }
  95% {
    background-color: indianred;
  }

  100% {
    background-color: blue;
  }
}
